html {
/*
  position: relative;
  min-height: 100%;
*/
}
body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
/*  margin-bottom: 100px;*/
}

.logo {
    background: url("../assets/images/logo(1280x570).png");
    height: 100px;
    width: 225px;
    background-size: 100% 100%;
}

#nav-buttons {
    padding-top: 30px;
}

.navbar-default {
    background-color: white;
    border-color: white;
    padding-top: 20px;
    margin-bottom: 0px;
}

.nav-button {
    font-size: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: rgba(0,0,0,0);
}

.active-nav, li:hover {
    border-color: rgb(0,0,128);
}

#dropdown-btn {
    display: none;
}

.footer {
  color: white;
  width: 100%;
  background-color: rgba(0,0,50,.9);
}

#footer-1 > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#footer-2 {
    text-align: right;
}

#footer-4 {
    text-align: right;
}

#footer-border {
    border-width: 1px 0px 0px 0px;
    border-color: white;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
    #nav-buttons {
        display: none;
    }
    
    #nav-container {
        background: url("../assets/images/logo(1280x570).png");
        height: 100px;
        width: 225px;
        background-size: 100% 100%;
    }
    
    #dropdown-btn {
        display: inherit;
        position: absolute;
        right: 0px;
        
    }
    
    #footer-1, #footer-2, #footer-3, #footer-4 {
        text-align: center;
    }
    
    #footer-4 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .bl-footer-text {
        display: none;
    }
}